<header class="container-fluid d-flex flex-column align-items-center justify-content-center">
  <h1 class="m-3">Lakosság számláló</h1>
  <div class="container-fluid d-flex flex-column align-items-center">
    <button routerLink="home"
            class="btn btn-primary m-1 col-12 col-md-6 col-lg-4 col-xxl-2">
      Főoldal
    </button>
    <button routerLink="data"
            class="btn btn-primary m-1 col-12 col-md-6 col-lg-4 col-xxl-2">
      Lakosság a népszámlálások alkalmával
    </button>
    <button routerLink="new-data"
            class="btn btn-primary m-1 col-12 col-md-6 col-lg-4 col-xxl-2">
      Új felmérés felvétele
    </button>
  </div>
</header>
<router-outlet></router-outlet>